.header-line
{
    position: relative;
    padding: 5px 15px 5px;
    overflow: hidden;
    background-color: white;
    height: auto;
    width: 100%;
}
#header-middle
{
    padding: 3px 15px;
}

.btn-small
{
    padding: 1px 15px;
    color: #0074B7;
}

.logo
{
    margin-right: 20px;
    float: left;
    background-image: url("media/img/logo.jpg");
}

.portal
{
    border-left: 1px solid rgb(224, 224, 224);
    padding-left: 17px;
    font: 20px Georgia,sans-serif;
}

.fr
{
    float: right !important;
}
.fl
{
    float: left !important;
}

.divBlue
{
    background: url("/media/img/sprite-auto.gif");
}



.border
{
    border: solid black 1px;
    border-radius: 5px;
}

body
{
    background-color: #d4d4d4;
    position: relative;
}

#banner
{
    height: 170px;
    margin-bottom: 2px;
    margin-top: 3px;
    background: url("/media/img/main-banner.jpg");
}

#header-small
{
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
}

.right-banner
{
    height: 200px;
    margin-bottom: 2px;
}

.clear
{
    clear: both;
    font-size: 1px;
    height: 1px;
    visibility: hidden;
    line-height: normal;
    margin-bottom: -1px;
}

#footer
{
    background-color: gray;
    margin:5px 0px;
    min-height: 100px;
    width: 100%;
    float: left;
    position: relative;
}

#content
{
    height: 100%;
    min-height: 600px;
    background-color: whitesmoke;
}

.banners
{
    float: right;
    padding: 0px;
}

ul
{
    list-style: outside none none;
}
.link_detail
{
    font-size: 15px;
}

.btn_find
{
    width: 65px;
    height: 27px;
    margin-left: 7px ;
    padding: 4px;
    margin-top: -4px;
    border-radius: 5px;
    background-color: red;
    color: whitesmoke;

}


.fast-search-nav
{
    padding-top:26px ;
}
.forms_block
{
    width: 190px;
}
.search_side
{
    width: 190px;
}
.rel
{
    width: 80px;
}
.form-search
{
    height: auto;
}

.textbox
{
    width: 100%;
}
.first
{
    width: 190px;
}
.last
{

}
.fl
{
    float: left !important;
}
.fr
{
    float: right !important;
}

.main
{
    width: 100%;
    height: auto;
}

.clear
{
    clear: both;
    font-size: 1px;
    height: 1px;
    visibility: hidden;
    line-height: normal;
    margin-bottom: -1px;
}
.container_left
{
    float: left;
    width: 415px;
    padding: 7px;
}
.container_right
{
    float: left;
    height: 269px;
    width: 276px;
    background-color: #0074B7;
    color: white;
    margin-left: 5px;
}
.container_centr
{
    width: 46px;
    height: 269px;
    float: left;
    background-image: url("/media/img/centr_container_backgrouns.gif");
}
.main_top
{
    height: auto;
}
#right-banner1
{
    background-image: url("/media/img/right_bannet_1.jpg");
}

#right-banner2
{
    background-image: url("/media/img/right_bannet_2.jpg");
}


#right-banner3
{
    background-image: url("/media/img/right_bannet_3.jpg");
}

button:hover
{
   background: #BCD6F1;
   color: whitesmoke;

}



























